<span class="label label-inverse">Interactive map</span>

<p></p>
<p class="lead">Navigate the world easily. Our interactive map lets you to enter directly to your desired region so that you don’t need to browse cities by cities. Your city is just a click away. </p>

<div class="map">
<%= render 'map' %>
</div>
<br>

<div class="hero-unit">
<span class="label label-inverse">Welcome</span>
<br>
<br>
<p>Get inspired from the real travelers. We have millions of travel advice, idea, review and tips from our community who contributes sharing their practical travel experience. We enable you to take decision confidently for your next vacation with the most updated information, facts and figures. We are a leading website with the latest travel information those are updated regularly. This leads you to get an insight of your dream destinations and inspire you deeply.</p>
<p>
No matter the place you look for, whether it is a popular spot that tourists rave for or a remote area for trekking, you always have the scoop from an insider’s eye.</p>
</div>

<br>

<p></p>
<div class="hero-unit">
<span class="label label-inverse">Our mission</span>
<br><br>

<p>Our mission is to provide you the most updated information about your holiday destinations, cities, hotels and restaurants and the places of interest and things to do. True opinion has been published in the reviews from the real travelers to facilitate you to decide easily for your next vacation related issues like where to sleep and what to see, Do’s and Don’ts  and many more.</p>
<p>   
Our articles cover everything that a traveler always wants to know, from getting there to climate. 
The photo gallery takes you to a virtual trip of each destination.</p>
<p>
Our forum post is always open to ask any solution or advice to your fellow travelers. Just ask for what information you are looking for. You will be advised quickly by our members worldwide like you.
Don’t forget to drop some words from your won trip here in our review section which will inspire some other traveler next time as you.</p>
</div>
